body, body > main, body > main > div > article, body > main > div > article > section, body > main > div > article > section > p, body > main > div > article > section > h2, body > main > div > article > section > h3, body > main > div > article > section > ul, body > main > div > article > section > figure{
    margin: 0px;
    padding: 0px;
}

body > main > div > article figure > a > img{
    width: 100%;
}

body > main{
    background: linear-gradient(to bottom right, #163D6A, #10ACE0);
    padding: 20px 50px;
}

body > main > div{
    margin: 0 auto;
    max-width: 800px;
}

body > main > div > article > section{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px -5px 5px black;
    font-family: "Inter", sans-serif;
}

body > header > h1, body > main > div > article > section > h2{
    text-align: center;
    font-family: sans-serif;
}

@media (max-width: 768px) {

    body > main{
        padding: 20px 20px;
    }

}