body, body > main, body > main > div > article, body > main > div > article > section, body > main > div > article > section > p, body > main > div > article > section > h2, body > main > div > article > section > h3, body > main > div > article > section > ul, body > main > div > article > section > figure{
    margin: 0px;
    padding: 0px;
}

body > main > div > article > section > figure > a > img{
    width: 100%;
}

body > main{
    background-color: rgb(224, 224, 224);
    padding: 20px 50px;
}

body > main > div > article > section{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

body > header > h1, body > main > div > article > section > h2{
    text-align: center;
}