* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    max-width: 300px;
}

.prodotto img {
    width: 100%;
}

main{
    background: linear-gradient(to bottom right, #163D6A, #10ACE0);
    padding: 20px 50px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.review-section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px -5px 5px rgb(43, 43, 43);
    font-family: "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
}

.review-section p {
    line-height: 1.6;
}

.review-section li {
    margin-bottom: 15px;
}

header h1, .review-section h2 {
    text-align: center;
    font-family: sans-serif;
}

@media (max-width: 768px) {

    body > main{
        padding: 20px 20px;
    }

}