<section id="contatti" class="contatti">
    <a href="https://eugenioguidi.github.io">
        <img class="logo-2" src="https://eugenioguidi.github.io/uploads/static/icons/LogiTechi-logo.png" alt="LogiTechie Logo" id="logo-2" />
    </a>
    <p id="domande" class="domande">Hai domande o suggerimenti? Inviaci un'email a <a href="mailto:logitechie@outlook.it">logitechie@outlook.it</a>.</p>
    <p id="chi-sono" class="chi-sono">Ciao! Sono Eugenio, appassionato di tecnologia e prodotti Logitech. Ho creato questo sito per condividere recensioni oneste e consigli pratici sui prodotti che utilizzo ogni giorno.</p>
    <p class="affiliazione">
    Alcuni link presenti in questo sito sono link di affiliazione Amazon. Ciò significa che potrei ricevere una commissione sugli acquisti idonei, senza alcun costo aggiuntivo per te. In qualità di Affiliato Amazon io ricevo un guadagno dagli acquisti idonei.
    </p>
    <p id="diritti-riservati" class="diritti-riservati">&copy; 2026 Logitechie. Tutti i diritti riservati</p>
</section>