<a href="https://eugenioguidi.github.io">
    <img class="logo" src="https://eugenioguidi.github.io/uploads/static/icons/LogiTechi-logo.png" alt="LogiTechie Logo" id="logo" />
</a>

<div class="hamburger" onclick="toggleMenu(event)">
    ☰
</div>

</div>

<!-- Menu -->
<nav id="mobileMenu" class="mobile-menu">
    <ul>
        <li>
            <button class="submenu-toggle">Mouse ▾</button>
            <ul class="submenu">
                <li><a href="logitech-mx-master-3s.html">MX Master 3S</a></li>
                <li><a href="#">Lift Vertical</a></li>
                <li><a href="#">Anywhere 3</a></li>
            </ul>
        </li>

        <li>
            <button class="submenu-toggle">Tastiere ▾</button>
            <ul class="submenu">
                <li><a href="logitech-mx-keys-s.html">MX Keys S</a></li>
                <li><a href="#">K380</a></li>
            </ul>
        </li>
    </ul>
</nav>